$font_color: black;

$global_padding: 1rem;
$global_margin: $global_padding;
$border_color: darken(white, 20%);

$cover_width: 4rem;
$cover_height: $cover_width * 1.24;

$header_height: 80px;
$footer_height: 45px;

$main_column_width: 80%;
$results_height: 75%;
//$main_column_width: calc(75% - ($global_padding * 2));
