@import '../variables.scss';
$result_left_padding: $cover_width + $global_padding + 1rem;

:local .result {

  navigation {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: $header_height;
    padding: $global_padding;
    background: $header_bg_color;

    .controls {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);

      li {
        display: inline-block;
        margin: 0 $global_margin;
      }
    }
  }

  .wrapper {
    position: relative;
    top: $header_height;
    left: 0;

    .content {
      width: $main_column_width;
      height: calc(100% - #{$header_height});
      overflow: scroll;
      padding: $global_padding;

      h1 {
        padding-top: $global_padding;
        font-size: 1.75rem;
      }

      .cover {
        position: absolute;
        left: $global_padding;
        top: $global_padding;
      }
    }

    aside {
      width: calc(100% - #{$main_column_width});
      height: calc(100% - #{$header_height});
      position: fixed;
      top: $header_height;
      right: 0;
      border-left: 1px solid $border_color;
      overflow-y: scroll;
      padding: $global_padding;
    }
  }
}
