@import '../js/variables.scss';

$thumbnail_width: 100px;

:local .preview {
  background: $light_gray_purple;
  border: 1px solid darken($light_gray_purple, 10%);
  padding: $global_padding;
  margin: $global_margin 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .thumbnail {
    float: left;
    border: 1px solid darken($light_gray_purple, 10%);
    margin-right: 1rem;
    width: $thumbnail_width;
    height: 100px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  :local .details {
    div {
      font-family: $decorative_font;
      font-weight: bold;

      .size {
        font-size: .8rem;
        font-weight: normal;
        padding: 0 .5rem;
      }
    }
  }

  :local .progressWrapper {
    position: relative;
    margin-left: calc(#{$thumbnail_width} + #{$global_padding});
    margin-top: .5rem;

    .progressLabel {
      padding-bottom: .25rem;
      font-size: .8rem;
    }

    .barWrapper {
      width: 100%;
      height: 20px;
      background: darken($light_gray_purple, 5%);
    }

    .bar {
      height: 100%;
      background: $success_color;
      transition: .25s;
    }
  }
}
