@import '../js/variables.scss';

.field {
  padding: 1rem 0;

  label {
    font-size: .8rem;
    display: block;
    padding-bottom: .5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &.inline {
    label {
      display: inline-block;
      padding-left: .25rem;
    }
  }

  input[type='text'],
  textarea {
    border: 1px solid $border_color;
    width: 100%;
    font-size: .8rem;
    padding: 1rem;
  }

  textarea {
    min-height: 10rem;
  }
}

.actions {
  button,
  input {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.required {
  color: $required_color;
}
