@import './normalize.css';
@import './a11y.scss';
@import './buttons.scss';
@import './forms.scss';
@import './layout.scss';
@import './general.scss';
@import '../js/variables.scss';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,500);

html, body {
  height: 100%;
  font-family: $default_font;
}

div,
article,
section,
main,
header,
nav,
aside,
footer,
h1, h2, h3, h4, h5, h6,
ul, li,
p,
fieldset,
textarea,
input,
span,
a,
button {
  box-sizing: border-box;
}

form {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $decorative_font;
}

ol {
  li {
    list-style: decimal;
  }
}
