@import '../variables.scss';
@import '../globals.scss';

:local(.hover) {
    opacity: 0;
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: opacity .25s;

    h1 {
      :global {
        @extend .center;
      }
      border: 2px dashed black;
      padding: $global_padding * 2;
      text-align: center;

      span:last-of-type {
        display: block;
        font-size: 60%;
        font-weight: normal;
      }
    }
}

:global(.dz-drag-hover) :local(.hover) {
    opacity: 1;
}
