@import '../variables.scss';
@import '../globals.scss';

:local .main {
  width: 100%;
  height: $main_content_height;
  padding: $global_padding 0;

  h1 {
    font-weight: normal;
  }
}

$logo_width: 45px;
:local .wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: opacity .25s;
  text-align: center;

  .brand {
    h1 {
      height: 2.5rem;
      position: relative;
      display: inline-block;
      margin: auto;
      width: auto;
      padding-left: calc(#{$logo_width} + .5rem);
      line-height: calc(#{$logo_width} * 1.33);

      img {
        width: $logo_width;
        position: absolute;
        left: 0;
      }
    }

    .powered {
      height: 1rem;
      font-size: .8rem;
      margin-top: .75rem;

      img {
        height: 100%;
      }
    }
  }

  .upload {
    width: 33%;
    :global {
      @extend .center;
    }

    .icons {
      span {
        font-size: 1.5rem;
        display: inline-block;
        margin: 0 .25rem;
        color: darken(white, 50%);
      }
    }

    button {
      margin-left: .25rem;
    }

    h2 {
      font-size: 3rem;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: .8rem;
    }
  }
}


:global(.dz-drag-hover) {
  :local .wrapper {
    opacity: 0;
  }
}
