@import '../variables.scss';
@import '../globals.scss';

:local .main {
  width: $main_column_width;
  height: $main_content_height;
  float: left;
  padding: $global_padding ($global_padding * 3);
}


:local .wrapper {
  aside {
    z-index: 1;
    transition: opacity .25s;

    :global {
      @extend .aside;
    }
  }
}


:global(.dz-drag-hover) {
  aside {
    opacity: 0;
  }
}
