@import '../variables.scss';
@import '../globals.scss';

:local .main {
  width: $main_column_width;
  height: $main_content_height;
  float: left;
  padding: $global_padding ($global_padding * 3);
}


:local .wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity .25s;

  aside {
    :global {
      @extend .aside;
    }
  }
}


:global(.dz-drag-hover) {
  :local .wrapper {
    opacity: 0;
  }
}
