@import '../variables.scss';
@import '../globals.scss';

:local .slideUp {
  position: absolute;
  top: 100%;
  transition: all .25s;

  .content {
    position: relative;
    background: $light_gray_purple;
    padding: $global_padding $global_padding*10;
    font-size: 80%;

    button {
      position: absolute;
      transform: translate(-50%, calc(-100% - #{$global_padding}));
    }
  }

  &.up {
    transform: translateY(-100%);

    .fa {
      transform: rotate(180deg);
    }
  }

  .fa {
    font-size: 120%;
    margin-right: .25rem;
    transition: all .25s;
  }
}
