<VirtualHost *:443>
  ServerName {{ public_hostname }}
  Redirect "/nuxeo" "/nuxeo/"
  ProxyPass /nuxeo/ http://localhost:8080/nuxeo/
  ProxyPassReverse /nuxeo/ http://localhost:8080/nuxeo/
  ProxyPreserveHost on
  RequestHeader append nuxeo-virtual-host "https://{{ public_hostname }}/"
  SSLEngine on
  SSLCertificateFile	/etc/ssl/certs/ssl-cert-snakeoil.pem
  SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
</VirtualHost>
