// Aside
.aside {
  position: fixed;
  top: 0;
  right: 0;
  word-wrap: break-word;
  width: $aside_width;
  height: 100%;
  padding: $global_padding;
  font-family: $default_font;
  font-weight: 300;
  background: darken(white, 2.5%);

  fieldset {
    min-width: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    border: none;
  }

  h2 {
    font-family: $default_font;
    font-size: 1rem;
    font-weight: 300;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
