@import '../variables.scss';

:local .filters {
  position: fixed;
  top: $header_height;
  left: 0;
  background: darken(white, 2.5%);
  border-right: 1px solid $border_color;
  height: $main_content_height;
  width: $aside_width;
  padding: $global_padding;
  overflow: scroll;
}
