@import '../variables.scss';

:local .filters {
  @include aside;
  position: fixed;
  top: $header_height;
  left: 0;
  background: darken(white, 2.5%);
  border-right: 1px solid $border_color;
  height: $main_content_height;
  width: $aside_width;
  overflow: scroll;
  word-wrap: break-word;

  h1 {
    margin: 0;
    padding: .7rem $global_padding;
    border-bottom: 1px solid $border_color;
  }

  ul {
    width: calc(100% - #{$global_padding} * 2);
  }

  li {
    position: relative;
    margin-bottom: .5rem;
    font-size: .875rem;
    padding-left: 1.2rem;

    input[type='checkbox'] {
      position: absolute;
      left: 0;
      top: .15rem;
    }
  }

  legend {
    margin: 0;
    padding: 0 0 .4rem 0;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    color: lighten($font_color, 20%);
  }

  fieldset {
    border: none;
    padding: 0;
  }

  input[type='checkbox'] {
    margin-right: .5rem;
  }

  .group {
    padding: $global_padding;
  }
}
