@import '../variables.scss';

:local .cover {
  @include cover;
  border: 1px solid $border_color;
  text-align: center;
  margin: 0 $global_padding 0 0;
  font-size: .75rem;

  span {
    display: block;
  }
}
