@import '../variables.scss';

$footer_logo_width: 75px;

:local .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: .8rem;
  font-weight: 300;
  color: $font_color;
  text-align: right;
  padding-right: $global_padding;
  height: $footer_height;
  line-height: $footer_height;
  width: 100%;
  border-top: 1px solid $border_color;
  background: white;

  span {
    padding-right: calc(#{$footer_logo_width} + .5rem);
  }

  .logo {
    width: $footer_logo_width;
    position: absolute;
    top: 50%;
    right: $global_padding;
    transform: translateY(-50%);
  }
}
