@import '../variables.scss';
@import '../globals.scss';

:local .insert {
  position: relative;
  width: 100%;
  height: 100%;

  :global {
    animation: fadein 2s;
  }

  h1 {
    :global {
      @extend .center;
    }
    width: calc(80% - (#{$global_padding}*2));
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    padding-top: 2rem;
    text-align: center;
  }

  // error messaging
  h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: $error_color;
    background: $error_bg_color;
    border: 1px solid $error_color;
    border-left: none;
    border-right: none;
  }

  .fa {
    font-size: 6rem;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: calc(50% - 3rem);
    z-index: 2;
  }

  .controls {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%,-50%);

    ul {
      :global {
        animation: fadein 2s;
      }
    }

    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }
}
