@import '../variables.scss';
@import '../globals.scss';

:local .loading {
  position: relative;
  width: 100%;
  height: 100%;

  :global {
    animation: fadein 2s;
  }

  h1 {
    :global {
      @extend .center;
    }
    width: calc(100% - (#{$global_padding}*2));
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    padding-top: 2rem;
    text-align: center;
  }

  img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%,-90%);
    z-index: 2;

    // hack for animation issue that css-loader is generating
    // https://github.com/webpack/css-loader/issues/65`
    :global {
        animation: 3s opacity infinite;
    }
  }
}
