:local .pagination {
  li {
    display: inline-block;
    margin: .35rem;

    button {
      font-size: .8rem;
      padding: .3rem .5rem;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .active {
      background: transparent;
      border: none;
    }
  }
}
