@import '../variables.scss';
$result_left_padding: $cover_width + $global_padding;

$results_header_height: 115px;

:local {
    .wrapper {
      margin-top: $header_height;
      margin-bottom: $footer_height;
      float: right;
      height: $main_content_height;
      width: $main_column_width;
      padding-top: calc(#{$results_header_height};

      .header {
        position: fixed;
        top: $header_height;
        right: 0;
        width: $main_column_width;
        height: $results_header_height;
        border-bottom: 1px solid $border_color;
        background: white;
        z-index: 1;
      }

      .results {
        overflow: scroll;
        padding-bottom: $footer_height;
        height: 100%;
        padding: $global_padding $global_padding 0 $global_padding;
        width: 100%;
      }
    }
}

:local .result {
  position: relative;
  padding: 0 5rem 0 $result_left_padding;
  margin-bottom: 2rem;
  min-height: $cover_height;

  a {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3rem;
    text-decoration: none;
    margin-bottom: .75rem;

    &:hover {
      text-decoration: underline;
    }

  }

  .cover {
      position: absolute;
      left: 0;
      top: 0;
  }

  .metadata {
    font-size: .8em;
    color: lighten($font_color, 20%);

    li {
      display: inline-block;
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);
  }
}
