@import '../variables.scss';
$result_left_padding: $cover_width + $global_padding;

:local {
    .results {
        float: left;
        width: $results_width;
        padding: $global_padding;
    }
}

:local .result {
  position: relative;
  padding: 0 5rem 0 $result_left_padding;
  margin-bottom: 2rem;
  min-height: $cover_height;

  h2 {
    margin-bottom: .75rem;

    a {
      font-size: 1rem;
      line-height: 1.3rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .cover {
      position: absolute;
      left: 0;
      top: 0;
  }

  .metadata {
    font-size: .8em;
    color: lighten($font_color, 20%);

    li {
      display: inline-block;
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%);
  }
}
