@import './normalize.css';
@import './a11y.scss';
@import '../../../../js/variables.scss';

html, body {
  height: 100%;
}

div,
article,
section,
main,
header,
navigation,
aside,
li,
p,
textarea,
input,
span {
  box-sizing: border-box;
}

form {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
